body {
    background: #272A31;
}
button {
    border-radius: 20px;
    background-color: #181B22;
    /*box-shadow: 5px 0.5px red ;*/
    border: transparent;
    width :40px;
    height: 40px;
    

}
select {
    color : white ;
    background-color: #181B22;

}




